/* RESET CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* FONTS */
@font-face { font-family: 'OCR'; src: url("../../fonts/OCR A Std Regular.ttf"); font-weight: normal; font-style: normal; }

/* GENERAL RULES */
body { font-family: 'Roboto'; min-height: 100%; }

img { display: block; width: 100%; height: auto; }

.container { max-width: 1180px; margin: 0 auto; padding: 0 15px; }

.site-content { height: 100%; overflow: hidden; }

.site-pusher { height: 100%; -webkit-transition-duration: 0.6s; transition-duration: 0.6s; -webkit-transition-property: all; transition-property: all; }

.site-pusher.nav-on { -webkit-transform: translateX(200px); transform: translateX(200px); }

.overlay.is-active { z-index: 250; height: 100%; }

.bg-cover, .overlay { position: fixed; top: 0; left: 0; opacity: 0; height: 100%; -webkit-transition: all 0.6s; transition: all 0.6s; min-height: 100%; min-width: 1024px; width: 100%; height: auto; }

.bg-cover.is-active { z-index: 10; height: 100%; background-color: rgba(0, 0, 0, 0.5); opacity: 1; }

.overlay.is-active { z-index: 250; height: 100%; background-color: rgba(0, 0, 0, 0.5); opacity: 1; }

@media only screen and (max-width: 992px) { body { font-size: 14px; }
	.container { width: auto; margin: 0 auto; padding: 0 10px; } }

@media only screen and (max-width: 600px) { body { font-size: 12px; }
	.container { width: auto; margin: 0 auto; } }

/* RULES */
/******************************************************/
/******************    HEADER     *********************/
/******************************************************/
header { background-image: url("../../img/header.jpg"); background-repeat: no-repeat; background-size: cover; height: 250px; }

header .header-wrapper { position: relative; z-index: 200; background-image: url("../../img/header.jpg"); background-size: cover; height: 100%; }

header .header-wrapper .icon-resp { display: none; position: relative; width: 48px; height: 48px; cursor: pointer; z-index: 10; }

header .header-wrapper .icon-resp span { display: inline-block; width: 30px; height: 3px; background-color: black; position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); -webkit-transition-duration: 0.6s; transition-duration: 0.6s; -webkit-transition-property: all; transition-property: all; }

header .header-wrapper .icon-resp span::before, header .header-wrapper .icon-resp span::after { content: ''; display: inline-block; position: absolute; top: 50%; left: 50%; width: 30px; height: 3px; background-color: black; -webkit-transition-duration: 0.6s; transition-duration: 0.6s; -webkit-transition-property: all; transition-property: all; }

header .header-wrapper .icon-resp span::before { -webkit-transform: translateX(-50%) translateY(-10px); transform: translateX(-50%) translateY(-10px); }

header .header-wrapper .icon-resp span::after { height: 3px; -webkit-transform: translateX(-50%) translateY(7px); transform: translateX(-50%) translateY(7px); }

header .header-wrapper .icon-resp.is-active span { background: transparent; }

header .header-wrapper .icon-resp.is-active span::before { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

header .header-wrapper .icon-resp.is-active span::after { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

header .header-wrapper .logo, header .header-wrapper .nuage, header .header-wrapper .connexion { z-index: 1; height: 100%; float: left; }

header .header-wrapper .logo { width: 25%; position: relative; }

header .header-wrapper .logo img { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); display: block; margin: 0 auto; width: 90%; height: auto; }

header .header-wrapper .nuage { position: relative; width: 35%; }

header .header-wrapper .nuage a { display: inline-block; font-family: OCR a Std; font-size: 0.7em; text-decoration: none; }

header .header-wrapper .nuage .nuage-left { width: 117px; height: 82px; position: absolute; left: 30%; bottom: 37%; background-image: url("../../img/nuage-left.png"); background-repeat: no-repeat; background-size: cover; }

header .header-wrapper .nuage .nuage-left a.contact::after { content: "Contact"; display: inline-block; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

header .header-wrapper .nuage .nuage-left::before { content: ''; position: absolute; left: -131px; top: 0px; display: inline-block; width: 138px; height: 31px; background-image: url("../../img/point-left.png"); background-repeat: no-repeat; background-size: cover; }

header .header-wrapper .nuage .nuage-left::after { content: ''; position: absolute; right: -53px; bottom: 0; display: inline-block; width: 53px; height: 20px; background-image: url("../../img/point-center.png"); background-repeat: no-repeat; background-size: cover; }

header .header-wrapper .nuage .nuage-right { width: 90px; height: 63px; position: absolute; right: 10%; bottom: 45%; background-image: url("../../img/nuage-right.png"); background-repeat: no-repeat; background-size: cover; }

header .header-wrapper .nuage .nuage-right a.faq::after { content: "FAQ"; display: inline-block; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

header .header-wrapper .nuage .nuage-right::after { content: ''; position: absolute; right: -33px; top: -47px; display: inline-block; width: 39px; height: 57px; background-image: url("../../img/point-right.png"); background-repeat: no-repeat; background-size: cover; }

header .header-wrapper .connexion { width: 40%; }

header .header-wrapper .connexion .soucoupe { float: right; position: relative; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); display: block; width: 146px; height: 100px; background-image: url("../../img/button-login.png"); background-repeat: no-repeat; background-size: cover; }

header .header-wrapper .connexion .soucoupe a { position: absolute; top: 60%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); color: white; }

header .header-wrapper .menu { z-index: 10; position: absolute; bottom: 0; right: 0; font-family: 'OCR'; letter-spacing: 0px; font-size: 13px; }

header .header-wrapper .menu li.item { position: relative; display: inline-block; -webkit-transition: all 0.4s; transition: all 0.4s; margin-right: 5px; }

header .header-wrapper .menu li.item a { display: inline-block; padding: 10px 15px; border-top-right-radius: 8px; border-top-left-radius: 8px; text-decoration: none; color: white; }

header .header-wrapper .menu li.item ul.sub-menu { display: none; position: absolute; left: 0; width: 100%; height: auto; background-color: inherit; text-align: center; }

header .header-wrapper .menu li.item ul.sub-menu li { background-color: inherit; -webkit-transition: all 0.4s; transition: all 0.4s; }

header .header-wrapper .menu li.item ul.sub-menu li a { border-top-right-radius: 0px; border-top-left-radius: 0px; padding: 10px 0; margin: 0; display: inline-block; width: 100%; height: 100%; }

header .header-wrapper .menu li.item ul.sub-menu li:last-child a { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }

header .header-wrapper .menu li.item ul.sub-menu.presentation li a { background-color: #00ab52; }

header .header-wrapper .menu li.item ul.sub-menu.presentation li a:hover { background-color: #2fcf7c; }

header .header-wrapper .menu li.item ul.sub-menu.galerie a { background-color: #28bff1; }

header .header-wrapper .menu li.item ul.sub-menu.galerie a:hover { background-color: #64ccee; }

header .header-wrapper .menu li.item ul.sub-menu.is-active { display: block; }

header .header-wrapper .menu li.item:nth-child(1) a { background-color: #00ab52; }

header .header-wrapper .menu li.item:nth-child(1) a:hover { background-color: #2fcf7c; }

header .header-wrapper .menu li.item:nth-child(2) a { background-color: #e5002e; }

header .header-wrapper .menu li.item:nth-child(2) a:hover { background-color: #dc3053; }

header .header-wrapper .menu li.item:nth-child(3) a { background-color: #f1a90e; }

header .header-wrapper .menu li.item:nth-child(3) a:hover { background-color: #efbc4d; }

header .header-wrapper .menu li.item:nth-child(4) a { background-color: #28bff1; }

header .header-wrapper .menu li.item:nth-child(4) a:hover { background-color: #64ccee; }

header .header-wrapper .menu li.item:nth-child(5) a { background-color: #eb667f; }

header .header-wrapper .menu li.item:nth-child(5) a:hover { background-color: #eb889b; }

header .header-wrapper .menu li.item:nth-child(6) a { background-color: #9e23c6; }

header .header-wrapper .menu li.item:nth-child(6) a:hover { background-color: #bf62de; }

header .header-wrapper::after { content: ''; display: block; width: 431px; height: 53px; position: absolute; bottom: 0; left: 0; -webkit-transform: translate(-70px, 50px); transform: translate(-70px, 50px); background-image: url("../../img/header-bottom.png"); }

header .login-wrapper { position: fixed; top: -50%; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 450px; height: 300px; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; z-index: 300; background-image: url("../../img/button-login-L.png"); background-position: center; background-repeat: no-repeat; background-size: 80% auto; opacity: 0; -webkit-transition: all 4s; transition: all 4s; -webkit-animation: move 4s infinite; animation: move 4s infinite; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; }

header .login-wrapper form .input-field { margin: 0 auto; width: 100%; text-align: center; }

header .login-wrapper form .input-field label { display: block; }

header .login-wrapper form .input-field input[type="text"], header .login-wrapper form .input-field input[type="password"] { margin: 5px 0 10px 0; width: 80%; }

header .login-wrapper form .input-field input[type="submit"] { width: 100%; height: 30px; border: none; }

header .login-wrapper.is-active { top: 50%; opacity: 1; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }

header .contact-wrapper { position: fixed; top: -100%; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 50%; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; z-index: 300; opacity: 0; -webkit-transition: all 2s; transition: all 2s; background-color: rgba(0, 93, 179, 0.8); border-radius: 15px; box-sizing: border-box; padding: 30px 30px; }

header .contact-wrapper form { width: 100%; color: white; font-weight: bold; }

header .contact-wrapper form .input-field { margin-bottom: 5px; min-height: 35px; }

header .contact-wrapper form .input-field label { display: inline-block; width: 30%; }

header .contact-wrapper form .input-field input[type="text"], header .contact-wrapper form .input-field input[type="email"] { width: 60%; height: 20px; box-sizing: border-box; padding-left: 15px; }

header .contact-wrapper form .input-field select { width: 50%; }

header .contact-wrapper form .input-field textarea { min-width: 100%; max-width: 100%; }

header .contact-wrapper form .input-field input[type="submit"] { display: block; margin: 0 auto; width: 50%; height: 30px; position: relative; top: 15px; border: none; background-color: rgba(255, 255, 255, 0.5); font-weight: bold; text-transform: uppercase; color: black; cursor: pointer; -webkit-transition: all 0.4s; transition: all 0.4s; }

header .contact-wrapper form .input-field input[type="submit"]:hover { background-color: rgba(255, 255, 255, 0.7); }

header .contact-wrapper.is-active { top: 50%; opacity: 1; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }

@-webkit-keyframes move { 0% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	transform: translateX(-50%) translateY(-50%) rotate(0deg); }
	25% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(-15deg);
		transform: translateX(-50%) translateY(-50%) rotate(-15deg); }
	50% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
		transform: translateX(-50%) translateY(-50%) rotate(0deg); }
	75% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(15deg);
		transform: translateX(-50%) translateY(-50%) rotate(15deg); }
	100% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
		transform: translateX(-50%) translateY(-50%) rotate(0deg); } }

@keyframes move { 0% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	transform: translateX(-50%) translateY(-50%) rotate(0deg); }
	25% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(-15deg);
		transform: translateX(-50%) translateY(-50%) rotate(-15deg); }
	50% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
		transform: translateX(-50%) translateY(-50%) rotate(0deg); }
	75% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(15deg);
		transform: translateX(-50%) translateY(-50%) rotate(15deg); }
	100% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
		transform: translateX(-50%) translateY(-50%) rotate(0deg); } }

@media only screen and (max-width: 992px) { header { height: 150px; }
	header .header-wrapper { height: 100%; }
	header .header-wrapper .icon-resp { display: block; width: 64px; position: relative; top: 50%; -webkit-transform: translateX(-30%) translateY(-50%); transform: translateX(-30%) translateY(-50%); float: left; }
	header .header-wrapper .logo { width: 30%; }
	header .header-wrapper .nuage { width: 60%; height: 50%; box-sizing: border-box; padding: 10px; }
	header .header-wrapper .nuage .nuage-left { width: 100px; height: 60px; background-size: 100px 60px; position: none; top: 10%; }
	header .header-wrapper .nuage .nuage-left::before, header .header-wrapper .nuage .nuage-left::after { content: ''; background: none; }
	header .header-wrapper .nuage .nuage-right { width: 100px; height: 60px; background-size: 100px 60px; position: none; top: 10%; }
	header .header-wrapper .nuage .nuage-right::before, header .header-wrapper .nuage .nuage-right::after { content: ''; background: none; }
	header .header-wrapper .connexion { height: 50%; width: 60%; text-align: center; position: relative; }
	header .header-wrapper .connexion .soucoupe { display: block; width: 106px; height: 60px; margin: 0 auto; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-size: 106px 60px; }
	header .header-wrapper .menu { position: fixed; top: 0; left: 0; height: 100%; width: 200px; background-color: skyblue; text-align: center; -webkit-transform: translateX(-200px); transform: translateX(-200px); z-index: 10; }
	header .header-wrapper .menu li.item { display: block; padding: 0; margin: 0; }
	header .header-wrapper .menu li.item a { display: block; height: 100%; width: 100%; padding: 15px 0; border-top-left-radius: 0px; border-top-right-radius: 0px; }
	header .header-wrapper .menu li.item ul.sub-menu { position: relative; display: block; text-align: right; height: auto; }
	header .header-wrapper .menu li.item ul.sub-menu li { padding: 0; margin: 0; width: 100%; }
	header .header-wrapper .menu li.item ul.sub-menu li a { box-sizing: border-box; padding-right: 10%; float: left; width: 100%; }
	header .header-wrapper .menu li.item ul.sub-menu li a:last-child { border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; }
	header .header-wrapper .menu li.item ul.sub-menu::after { content: ''; display: table; clear: both; }
	header .contact-wrapper { width: 90%; } }

@media only screen and (max-width: 600px) { header { height: 150px; }
	header .header-wrapper { height: 100%; }
	header .header-wrapper .icon-resp { display: block; width: 64px; position: relative; top: 50%; -webkit-transform: translateX(-30%) translateY(-50%); transform: translateX(-30%) translateY(-50%); float: left; }
	header .header-wrapper .nuage { width: 50%; height: 50%; box-sizing: border-box; padding: 10px; }
	header .header-wrapper .nuage .nuage-left { width: 100px; height: 60px; background-size: 100px 60px; position: absolute; top: 10px; bottom: 0; left: 10%; }
	header .header-wrapper .nuage .nuage-left::before, header .header-wrapper .nuage .nuage-left::after { content: ''; background: none; }
	header .header-wrapper .nuage .nuage-right { width: 100px; height: 60px; background-size: 100px 60px; position: absolute; top: 10px; bottom: 0; left: 60%; }
	header .header-wrapper .nuage .nuage-right::before, header .header-wrapper .nuage .nuage-right::after { content: ''; background: none; }
	header .header-wrapper .connexion { height: 50%; width: 50%; }
	header .header-wrapper::after { content: ''; display: block; width: 292px; height: 39px; background-image: url("../../img/header-bottom.png"); background-size: 100% 100%; -webkit-transform: translate(-24px, 32px); transform: translate(-24px, 32px); } }

/******************************************************/
/******************    MAIN      **********************/
/******************************************************/
.content .days-left-wrapper { position: relative; min-height: 500px; width: 100%; background-image: url("../../img/main1.jpg"); background-position: center; background-size: auto; }

.content .days-left-wrapper .day-left { position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-15%); transform: translateX(-50%) translateY(-15%); height: 100%; }

.content .days-left-wrapper .day-left span { font-family: 'Leckerli One', cursive; font-size: 128px; }

.content .agence-wrapper { padding-bottom: 80px; width: 100%; background-image: url("../../img/main2.png"); background-position: center; background-size: cover; z-index: 2; position: relative; }

.content .agence-wrapper .container { height: 100%; }

.content .agence-wrapper .wrapper { height: 100%; box-sizing: border-box; padding-top: 70px; text-align: center; overflow: hidden; }

.content .agence-wrapper .wrapper h1 { font-family: 'Leckerli One', cursive; font-size: 64px; margin: auto; padding: 10px 0px; color: #a50525; }

.content .agence-wrapper .wrapper .agences { margin: 50px 0 0 0; position: relative; width: 100%; height: 250px; }

.content .agence-wrapper .wrapper .agences .btn_agence { position: absolute; top: 50%; z-index: 2; border: none; background: none; outline: none; cursor: pointer; display: block; width: 76px; height: 78px; }

.content .agence-wrapper .wrapper .agences .btn_agence.btn_next { right: 0; -webkit-transform: translateY(-50%) translateX(50%); transform: translateY(-50%) translateX(50%); background-image: url("../../img/right.png"); }

.content .agence-wrapper .wrapper .agences .btn_agence.btn_prev { left: 0; -webkit-transform: translateY(-50%) translateX(-50%); transform: translateY(-50%) translateX(-50%); background-image: url("../../img/left.png"); }

.content .agence-wrapper .wrapper .agences .overflow { width: 5000px; height: 100%; position: absolute; top: 0; left: 0; display: block; margin: 0 auto; overflow: hidden; }

.content .agence-wrapper .wrapper .agences .overflow .agence { float: left; width: 0px; height: 100%; display: block; margin: 0 auto; text-align: center; }

.content .agence-wrapper .wrapper .agences .overflow .agence .logo .bg_logo { position: absolute; top: 0; left: 50%; z-index: 2; border-radius: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.content .agence-wrapper .wrapper .agences .overflow .agence.visible .logo { position: relative; width: 250px; height: 250px; border-radius: 50%; background-color: white; display: block; margin: 0 auto; }

.content .agence-wrapper .wrapper .agences .overflow .agence.visible .logo .bg_logo { width: 250px; height: 250px; background-color: none; }

.content .agence-wrapper .wrapper .agences .overflow .agence.visible .logo img { position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); display: block; width: 70%; }

.content .agence-wrapper .wrapper .agences .overflow .agence.next .logo { position: relative; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 160px; height: 160px; border-radius: 50%; background-color: white; display: block; margin: 0 auto; }

.content .agence-wrapper .wrapper .agences .overflow .agence.next .logo .bg_logo { width: 160px; height: 160px; background-color: rgba(0, 0, 0, 0.5); }

.content .agence-wrapper .wrapper .agences .overflow .agence.next .logo img { position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); display: block; width: 70%; }

.content .agence-wrapper::before { content: ''; position: absolute; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); display: inline-block; width: 84px; height: 84px; background-image: url("../../img/ico-bg.png"); background-size: 84px 84px; }

@media only screen and (max-width: 600px) { .content .days-left-wrapper .day-left span { font-size: 72px; } }

/******************************************************/
/***************    DIGIVOYAGE     ********************/
/******************************************************/
.digivoyage { background: url("../../img/green-background.png"); height: 900px; background-size: cover; background-repeat: no-repeat; }

.digivoyage h1 { font-family: 'Leckerli One', cursive; font-size: 64px;text-align: center;  color: #198C51; margin: auto; padding-top: 5%; }

.digivoyage .cadre { width: 70%; min-height: 500px; height: auto; margin: 0 auto; border: solid 3px #05552a; background-color: #198C51; opacity: 0.8; border-radius: 2%; margin-top: 5%; }

.digivoyage .cadre p { font-family: OCR a std; font-size: 1.1em; padding: 5%; color: #FFF; }

.digivoyage .cadre img { width: 10%; }

.digivoyage .left, .digivoyage .right { margin-top: 300px; width: 0px; height: 0px; cursor: pointer; text-shadow: 1px 1px 1px black; }

.digivoyage .left { border-top: 30px solid transparent; border-bottom: 30px solid transparent; border-right: 60px solid #0087d3; float: left; }

.digivoyage .right { border-top: 30px solid transparent; border-bottom: 30px solid transparent; border-left: 60px solid #0087d3; float: right; }

@media only screen and (max-width: 600px) { .digivoyage h1 { font-size: 48px; } }

/******************************************************/
/******************    BLOG     ***********************/
/******************************************************/
.blog { background: url("../../img/pink-background.png"); height: 1300px; background-size: cover; background-repeat: no-repeat; font-family: OCR A Std; }

.blog h1 { font-family: 'Leckerli One', cursive; font-size: 64px;text-align: center;  color: #a91d36; margin: auto; padding-top: 5%; }

.blog .entête { width: 70%; height: 35px; margin: 0 auto; background-color: #db2d4d; margin-top: 5%; }

.blog .cadre { width: 70%; height: 820px; margin: 0 auto; background-color: #a91d36; }

.blog img { width: 65%; margin: 0 auto; }

.blog h2 { color: white; line-height: 35px; text-align: center; }

.blog p { color: white; text-align: justify; text-justify: inter-word; font-size: 1rem; margin: 4%; }

.blog .more-article { width: 70%; margin: 0 auto; }

.blog .more-article .more-article1 { width: 32.4%; height: 200px; background-color: #a91d36; display: inline-block; }

.blog .more-article .more-article2 { width: 32.4%; height: 200px; background-color: #a91d36; display: inline-block; }

.blog .more-article .more-article3 { width: 32.4%; height: 200px; background-color: #a91d36; display: inline-block; }

/******************************************************/
/************    QUI SOMMES NOUS     ******************/
/******************************************************/
.qui-somme-nous { background: url("../../img/green-background.png"); height: 900px; background-size: cover; background-repeat: no-repeat; }

.qui-somme-nous h1 { font-family: 'Leckerli One', cursive; font-size: 64px;text-align: center;  color: #198C51; margin: auto; padding-top: 5%; }

.qui-somme-nous .cadre { width: 70%; height: 500px; margin: 0 auto; border: solid 3px #05552a; background-color: #198C51; opacity: 0.8; border-radius: 2%; margin-top: 5%; }

.qui-somme-nous .cadre p { font-family: OCR a std; font-size: 1.1em; padding: 5%; color: #FFF; }

.qui-somme-nous .cadre img { width: 10%; }

.qui-somme-nous .left, .qui-somme-nous .right { margin-top: 300px; width: 0px; height: 0px; cursor: pointer; text-shadow: 1px 1px 1px black; }

.qui-somme-nous .left { border-top: 30px solid transparent; border-bottom: 30px solid transparent; border-right: 60px solid #0087d3; float: left; }

.qui-somme-nous .right { border-top: 30px solid transparent; border-bottom: 30px solid transparent; border-left: 60px solid #0087d3; float: right; }

/******************************************************/
/*************       PLANNING       *******************/
/******************************************************/
.planning { background: url("../../img/green-background.png"); height: auto; background-size: cover; background-repeat: no-repeat; font-family: OCR A Std; padding-bottom: 50px; }

.planning p { font-size: 1.5rem; font-family: OCR A Std; }

.planning h1 { font-family: 'Leckerli One', cursive; font-size: 64px;text-align: center;  color: #198C51; margin: auto; padding-top: 5%; padding-bottom: 20px; }

.planning #MainMenu { margin-left: 20%; margin-right: 20%; }

.planning .list-group.panel > .list-group-item { border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }

.planning .list-group-submenu { margin-left: 20px; }

.planning .panel { background-color: rgba(57, 167, 106, 0.5); }

.planning a.list-group-item-success { color: #095521; background-color: rgba(36, 149, 90, 0.5); font-weight: bold; text-align: center; }

.planning a.list-group-item-success:hover { background-color: rgba(57, 167, 106, 0.5); }

.planning a.list-group-item-success:focus { background-color: rgba(57, 167, 106, 0.5); }

.planning ul { list-style-type: none; padding: 0; margin: 0; }

.planning li { display: inline-block; }

.planning .float-l { float: left; }

.planning .float-r { float: right; }

.planning .fa-clock-o:before, .planning .fa-arrow-circle-right:before { font-size: 15px; }

/******************************************************/
/******************    FOOTER     *********************/
/******************************************************/

#agences{
	background-image: url('../../img/main3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#titreAgences{
	font-family: 'Leckerli One', cursive;
	font-size: 150px;
	width: 800px;
	margin: auto;
	padding: 50px 0px;
	color: #a50525;
}

#tabAgence{
	padding-top: 30px;
	padding-bottom: 70px;
}

#tabsAgences ul{

}

#tabsAgences li{
	width: 150px;
	height: 150px;
	display: inline-block;
	border-radius: 50%;
	background-color: #ffffff;
	-webkit-box-shadow: 8px 8px 9px -10px rgba(0,0,0,1);
	-moz-box-shadow: 8px 8px 9px -10px rgba(0,0,0,1);
	box-shadow: 8px 8px 9px -10px rgba(0,0,0,1);
	cursor: pointer;
	margin: 5px;
	overflow: hidden;
}


#tabsAgences li img{
	z-index: 2;
	width: 110px;
	margin: auto;
	margin-top: 20px;
}

#tabscontent{
	padding: 6% 0;
}

.part1Agence{
	width: 35%;
	display: inline-block;
	vertical-align: middle;
}

.part1Agence div{
	width: 340px;
	height: 340px;
	display: inline-block;
	border-radius: 50%;
	background-color: #ffffff;
	-webkit-box-shadow: 8px 8px 9px -10px rgba(0,0,0,1);
	-moz-box-shadow: 8px 8px 9px -10px rgba(0,0,0,1);
	box-shadow: 8px 8px 9px -10px rgba(0,0,0,1);
	overflow: hidden;
}

.part1Agence div img{
	width: 280px;
	margin: auto;
	margin-top: 20px;
}

.part2Agence{
	width: 60%;
	display: inline-block;
	vertical-align: middle;
}

.part2Agence div{
	width: 80%;
	padding: 30px;
	margin: auto;
	box-sizing: border-box;
	border-radius: 15px;
	font-size: 1.1rem;
}

#tabagence_1 .part2Agence div{
	border: 2px solid #2C8842;
	background-color: rgba(66, 160, 89, 0.8);
	color: #ffffff;
}

#tabagence_2 .part2Agence div{
	border: 2px solid #4B4B94;
	background-color: rgba(23, 23, 93, 0.8);
	color: #ffffff;
}

#tabagence_3 .part2Agence div{
	border: 2px solid #C79E48;
	background-color: rgba(238, 201, 123, 0.8);
	color: #000000;
}

#tabagence_4 .part2Agence div{
	border: 2px solid #8D6D8E;
	background-color: rgba(159, 137, 160, 0.8);
	color: #ffffff;
}

#tabagence_5 .part2Agence div{
	border: 2px solid #9A9494;
	background-color: rgba(255, 255, 255, 0.8);
	color: #000000;
}

#tabagence_6 .part2Agence div{
	border: 2px solid #285288;
	background-color: rgba(23, 63, 114, 0.8);
	color: #ffffff;
}

#tabagence_7 .part2Agence div{
	border: 2px solid #350000;
	background-color: rgba(95, 4, 4, 0.8);
	color: #ffffff;
}

#contenuAgences{
	background-size: contain;
	/*background-repeat: no-repeat; */
}

/******************************************************/
/******************    FOOTER     *********************/
/******************************************************/
.footer { width: 100%; height: 400px; background-image: url("../../img/footer1.jpg"); background-size: cover; }

.footer .container { height: 100%; }

.footer .container .item { position: relative; display: block; width: 25%; height: 100%; float: left; }

.footer .container .item .sub-item { display: block; margin: 0 auto; position: absolute; bottom: 10%; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.footer .container .item .sub-item.contact { bottom: 10%; height: 37px; width: 47px; }

.footer .container .item .sub-item.contact a { display: block; height: 100%; background-image: url("../../img/button-email.png"); background-repeat: no-repeat; background-size: cover; }

.footer .container .item .sub-item.geolocalisation { bottom: 20%; width: 200px; height: 46px; text-align: center; }

.footer .container .item .sub-item.geolocalisation a { display: block; height: 100%; font-size: 0.7em; text-decoration: none; color: #FFF; font-family: OCR A std; }

.footer .container .item .sub-item.geolocalisation a::before { content: ''; display: block; width: 34px; height: 46px; margin: 0 auto 10px auto; background-image: url("../../img/icon-localisation.png"); background-repeat: no-repeat; background-size: cover; }

.footer .container .item .sub-item.geolocalisation a:hover { text-shadow: 1px 1px 5px yellow; }

.footer .container .item .sub-item.RS { width: 95px; height: 43px; }

.footer .container .item .sub-item.RS a { float: left; display: inline-block; height: 100%; width: 43px; background-image: url("../../img/button-facebook.png"); background-repeat: no-repeat; background-size: cover; }

.footer .container .item .sub-item.RS a.twitter { margin-left: 8px; background-image: url("../../img/button-twitter.png"); }

.footer .container .item .sub-item.logo { width: 195px; height: 114px; }

.footer .container .item .sub-item.logo a { display: block; height: 100%; background-image: url("../../img/logo-upem.png"); background-size: cover; background-repeat: no-repeat; }

.footer::after { content: ''; display: table; clear: both; }

/* RESPONSIVE RULES */
@media only screen and (max-width: 992px) { .footer { height: 300px; }
	.footer .container { width: 100%; }
	.footer .container .item { box-sizing: border-box; height: 50%; width: 50%; float: left; }
	.footer .container .item .sub-item { display: block; margin: 0 auto; position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }
	.footer .container .item .sub-item.logo { width: 115px; height: 64px; }
	.footer .container .item .sub-item.logo a { display: block; height: 100%; background-image: url("../../img/logo-upem.png"); background-size: cover; background-repeat: no-repeat; } }

@media only screen and (max-width: 768px) { .footer { height: 250px; }
	.footer .container { width: 100%; }
	.footer .container .item { box-sizing: border-box; height: 50%; width: 50%; float: left; } }

@media only screen and (max-width: 600px) { .footer { height: 250px; }
	.footer .container { width: 100%; }
	.footer .container .item { box-sizing: border-box; height: 50%; width: 50%; float: left; } }

/* RESPONSIVE RULES */
